.error {
    background-color: #d3d3d3;
    font-weight: bold;
    color: #fa0004;
    border: 2px solid #fa0004;
    padding: 0.5em 0.5em;
    border-radius: 5px;
}

.success {
    background-color: #d3d3d3;
    color: #1d7b18;
    border: 2px solid #1d7b18;
    padding: 0.5em 0.5em;
    border-radius: 5px;
}